default:
  image:
    name: 10.5.6.16:5050/mdg5/rial:latest

stages:
  - build
  - test

build-clib:
  stage: build
  script:
    - make
  artifacts:
    paths:
      - include/
      - lib/

# test-arith:
#   stage: test
#   script:
#     - sbt "testOnly RealSimTest"
    # - sbt "testOnly AddFPTest"
    # - sbt "testOnly Add3opFPTest"
    # - sbt "testOnly MultFPTest"
    # - sbt "testOnly MultFPIntTest"
    # - sbt "testOnly FMAFPTest"

# test-fixed:
#   stage: test
#   script:
#     - sbt "testOnly FixedToFloatTest"
#     - sbt "testOnly FloatToFixedTest"
#     - sbt "testOnly ScaledFixedToFloatTest"

test-rng:
  stage: test
  dependencies:
    - build-clib
  script:
    - sbt "testOnly ThreefryTest"
    - sbt "testOnly ThreefryGeneratorTest"
    - sbt "testOnly SquaresTest"
    - sbt "testOnly Squares32GeneratorTest"
    - sbt "testOnly IrwinHallTest"
    - sbt "testOnly IrwinHallGeneratorTest"
#     - sbt "testOnly Uniform01OpenCloseTest"
#     - sbt "testOnly Uniform12Test"
#     - sbt "testOnly Uniform01Test"
#     - sbt "testOnly Uniform01FullTest"
#     - sbt "testOnly Uniform01FullPipeTest"
#     - sbt "testOnly BoxMullerTest"

# test-math:
#   stage: test
#   script:
#     - sbt "testOnly ACosPhase1SimTest"
#     - sbt "testOnly ACosPhase1Test"
#     - sbt "testOnly ACosPhase2SimTest"
#     - sbt "testOnly ACosPhase2Test"
#     - sbt "testOnly ATan2Phase1SimTest"
#     - sbt "testOnly ATan2Phase1Test"
#     - sbt "testOnly ATan2Phase2SimTest"
#     - sbt "testOnly ATan2Phase2Test"
#     - sbt "testOnly CosSimTest"
#     - sbt "testOnly CosTest"
#     - sbt "testOnly ExpSimTest"
#     - sbt "testOnly ExpTest"
#     - sbt "testOnly InvSqrtSimTest"
#     - sbt "testOnly InvSqrtTest"
#     - sbt "testOnly LogSimTest"
#     - sbt "testOnly LogTest"
#     - sbt "testOnly ReciprocalSimTest"
#     - sbt "testOnly ReciprocalTest"
#     - sbt "testOnly ScaleMixtureGaussianSimTest"
#     - sbt "testOnly ScaleMixtureGaussianTest"
#     - sbt "testOnly SigmoidSimTest"
#     - sbt "testOnly SigmoidTest"
#     - sbt "testOnly SinSimTest"
#     - sbt "testOnly SinTest"
#     - sbt "testOnly SoftPlusSimTest"
#     - sbt "testOnly SoftPlusTest"
#     - sbt "testOnly SqrtSimTest"
#     - sbt "testOnly SqrtTest"
